<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center"> Sejam bem vindos ao meu blog!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, quis! Odit hic, laborum quidem magni veritatis ratione doloremque nulla id consectetur, aliquid provident unde officia laboriosam ex reprehenderit rerum ipsam.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus a, ab provident eius error inventore, voluptates non assumenda expedita fugiat possimus! Libero alias fugiat dolorum debitis laborum eum numquam a!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem odio minima sequi omnis soluta quia rerum sint? Impedit ducimus earum non rerum enim error velit et! Natus atque magni quos?
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn-outline-info text-uppercase font-weight-bold" routerLink="/feed">Ver o feed</button>
        </div>
    </div>


    
