<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://media-exp1.licdn.com/dms/image/C5603AQG41DkU7T49gQ/profile-displayphoto-shrink_200_200/0/1607045720676?e=1613001600&v=beta&t=Mpk_x3CPMnm5gu7zTvmuFXFoE7vLouwU0vDsqDMT10E" 
        alt="Imagem de capa do card"> 
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>
      <p class="card-text text-center text-monospace">Desenvolvedor Web Full Stack Jr. | Dev Java</p>
      
      <a href="https://www.linkedin.com/in/edu-freitas/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>
      

      <a href="https://github.com/edudsfreitas" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">Github</a>

    </div>
  </div>