<div class="container-fluid ">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link texto text-monospace text-uppercase font-weight-bold p-3" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link texto text-monospace text-uppercase font-weight-bold p-3" routerLink="/feed">Feed</a>
            </li>

            <div *ngIf='auth.btnLogin()'>
              <li class="nav-item">
                <a class="nav-link texto text-monospace text-uppercase font-weight-bold p-3" routerLink="/login">Login</a>
              </li>
            </div>
       
            <div *ngIf='auth.btnLogin()'>
              <li class="nav-item">
                <a class="nav-link texto text-monospace text-uppercase font-weight-bold p-3" routerLink="/cadastro" >Cadastro</a>
              </li>
            </div>

            <!-- <div *ngIf='auth.btnLogout()'>
              <li class="nav-item">
                <a class="nav-link texto text-monospace text-uppercase font-weight-bold p-3" (click)='logout()' >Sair</a>
              </li>
            </div> -->
            
          </ul>

          <div class="d-flex justify-content-end" *ngIf='auth.btnLogout()'>
            <form class="form-inline my-2 my-lg-0">
              <button class="btn btn-danger texto text-monospace my-2 my-sm-0" type="submit" (click)='logout()'>Sair</button>
            </form>
          </div>
          
        </div>
      </nav>
</div>

